langchain==0.3.7
langchain_community==0.3.5
langchain-google-genai==2.0.6
langchain-groq==0.2.1
langchain-text-splitters==0.3.2
langchain-core==0.3.15
faiss-cpu==1.9.0
sentence-transformers==3.2.1
requests==2.32.3
streamlit==1.39.0
altair==5.4.1
pandas==2.2.3
